@import url('common.css');
@import url('navbar.css');
@import url('footer.css');
@import url('code_highlight_pygments.css');

/* Index items */
.__index {
    width: 100%;
    padding-top: 4rem;
}

.__flex {display: flex;}
.__flex-row {flex-direction: row;}
.__flex-col {flex-direction: column;}


.__index-item {
    width: 100%;
    background-color: var(--background-em);
    border-radius: 1rem;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}

.__index-item:hover .__index-title {
    text-decoration: underline;
}

.__index-image-container {
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--placeholder);
}
.__index-image {
    width: 12rem;
    height: 8rem;
    object-fit: cover;
}
.__index-title {
    font-size: 1.5rem;
}
.__index-subtext {
    font-weight: 200;
}

@media screen and (max-width: 370px) {
    .__index-item {
        flex-direction: column;
    }

    .__index-image {
        width: 100%;
    }

    .__index-image-container {
        width: 100%;
        aspect-ratio: 12/8;
    }

    .__index-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.navbar-postpad {
    height: 5rem;
}

.title-container {
    background-color: var(--background-em);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 5rem;
    padding: 2rem 2rem 1rem;
}

.title-2 {
    font-weight: 100;
}

.title-1 {
    font-family: 'Playfair Display', serif;
}

.title-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.image-container {
    width: 100%;
}

.subtext {
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

/* Following is for markdown contents */
.blog-content {
    line-height: 1.3;
}

.blog-content .codehilite {
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em 0;
}

.blog-content pre {
    overflow-x: auto;
    font-family: 'IBM Plex Mono', monospace;
}

.blog-content img {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.blog-content li {
    padding: 0.1em 0;
}

.blog-content a {
    text-decoration: underline;
    color: var(--text);
}

.blog-content hr {
    margin: 3em 1em;
}

.blog-content .footnote-ref::before {
    content: "[";
    transform: translate(-0.1em);
}

.blog-content .footnote-ref::after {
    content: "]";
}

.blog-content table, .blog-content th, .blog-content td {
    border: 1px solid var(--unhighlight-text);
    border-collapse: collapse;
}

.blog-content table {
    margin: 0.3em 0;
}

.blog-content td, .blog-content th {
    padding: 0.3em;
}


@media screen and (min-width: 1200px) {
    .title-image {
        height: 50vh;
    }

    .title {
        font-size: 7em;
    }
}