@import url('common.css');
@import url('navbar.css');
@import url('footer.css');

.navbar-postpad {
    height: 9em;
}

.title {
    width: 100%;
    box-sizing: border-box;
    font-size: 5em;
    padding: 0 2rem 4rem;
    max-width: 900px;
}

.subtext {
    font-size: 1.7rem;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.title-background {
    width: 100%;
    min-height: min-content;
    background: var(--background-em);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playfair {
    font-family: 'Playfair Display';
}

.handwritten {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.monospace {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
}

.light-theme .monospace {
    font-weight: 300;
}

.font-thin { font-weight: 100; }
.font-small {font-size: 0.5rem;}
.huge-title {
    font-size: 3.5em;
    float: left;
    margin-right: 0.2em;
    line-height: 0.85;
}

.pic-img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center top;
}

.field-specifier {
    display: flex;
    justify-content: space-evenly;
    font-size: calc(100vw * 0.04);
    margin: 0.5em 0;
    align-content: center;
    text-align: center;
}

.field-specifier > span {
    text-wrap: nowrap;
}

img {
    filter: grayscale(100%);
}

.grid-container-1 {
    display: grid;
    row-gap: 0.2em;
    column-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    grid-template-rows: auto;
}

.icon-header {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 4em;
}

.embed-img {
    width: 100%;
    filter: brightness(200%) contrast(114%) grayscale(100%);
}

.light-theme .embed-img {
    filter: brightness(150%) contrast(130%) grayscale(100%) invert(100%);
}

.show-portrait-flex {
    display: none;
}

.text-content {
    font-size: 1.3em;
    line-height: 1.4;
}

p {
    margin-bottom: 1.5em;
    text-align: justify;
}

/* For mobile screens */
@media screen and (max-width: 600px) {
    .pic-img {
        height: 70vh;
    }

    .field-specifier > span {
        text-align: center;
    }

    .hide-portrait {
        display: none !important;
    }

    .show-portrait-flex {
        display: flex;
    }

    .field-specifier {
        flex-flow: column;
        font-size: calc(250vw * 0.04);
    }

    #field-specifier-changing {
        height: calc(250vw * 0.04);
        margin-bottom: 1em;
    }
}

/* text justify or not */
@media screen and (max-width: 670px) {
    p {
        text-align: left;
    }
}

/* Max widht 900px is set on cotent-centric */
@media screen and (min-width: 900px){
    .field-specifier {
        font-size: calc(900px * 0.04);
    }
}

/* For huge screens */
@media screen and (min-width: 1200px) {
    .title {
        font-size: 9em;
        width: max-content;
        max-width: unset;
    }
    .subtext{
        font-size: 2rem;
    }
    .pic-img {
        border-radius: 1em;
        margin-top: 2em;
        width: 800px;
        height: 600px;
    }
    .content-centric {
        font-size: 1.5rem;
    }
}